<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to "Display Data Tool", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Submit",    submit_path %></li>
              <li><%= link_to "View", view_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>